name: verify

on:
  pull_request:
  #  paths:
  #    - '**.py'


env:
  PKG_NAME: didcomm


jobs:

  release-ready:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request' && github.event.pull_request.base.ref == 'stable'
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        id: setup
        with:
          python-version: '3.x'
          cache: 'pip'

      - name: Install dependencies
        if: steps.setup.outputs.cache-hit != 'true'
        run: pip install tomli

      - name: Get current version
        id: current_version
        run: ./.github/scripts/current_version.py
        shell: python

      - name: Check version format
        run: |
          # verify the version has "MAJOR.MINOR.PATCH" parts only
          echo "${{ steps.current_version.outputs.current_version }}" | grep -e '^[0-9]\+\.[0-9]\+\.[0-9]\+$'
        shell: bash

      # TODO improve (DRY): copy-paste from release.yml
      - name: Get release info
        id: release_info
        run: |
          release_info="$(curl -s https://api.github.com/repos/${{ github.repository }}/releases \
              | jq '.[] | select(.name == "v${{ steps.current_version.outputs.current_version }}")')"
          echo "::set-output name=release_info::$release_info"
          echo "$release_info"
        shell: bash

      - name: fail unless release not found
        # TODO check if greater than latest tag / release (?)
        if: steps.release_info.outputs.release_info
        run: exit 1

  static-black:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.7
        id: setup
        uses: actions/setup-python@v4
        with:
          python-version: '3.7'
          cache: 'pip'

      - name: Install black
        if: steps.setup.outputs.cache-hit != 'true'
        run: pip install black

      - name: Black Format Check
        run: black --check .

  static-flake8:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.7
        id: setup
        uses: actions/setup-python@v4
        with:
          python-version: '3.7'
          cache: 'pip'

      - name: Install flake8
        if: steps.setup.outputs.cache-hit != 'true'
        run: pip install flake8

      - name: Lint with flake8
        run: flake8 .

  unit:
    strategy:
      matrix:
        python-version: [ '3.7', '3.8', '3.9', '3.10' ]
        os: [ ubuntu-latest, windows-latest, macos-latest ]
        include:
          - {python-version: '3.10', toxenv: py310}
          - {python-version: '3.9', toxenv: py39}
          - {python-version: '3.8', toxenv: py38}
          - {python-version: '3.7', toxenv: py37}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3

      - name: Install poetry
        run: pipx install poetry

      - name: Set up Python ${{ matrix.python-version }}
        id: setup
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'poetry'

      - name: Install dependencies
        if: steps.setup.outputs.cache-hit != 'true'
        run: poetry install

      - name: Test with pytest
        run: poetry run tox -e ${{ matrix.toxenv }}
